body {
		padding-top: 50px;
}

p {
		font-size: 12px;
}

.navbar-brand {
		font-family: 'Montserrat', sans-serif;
		font-size: 24px;
}

.section {
		height: 1000px;
		background-position: center;
}

.section-title {
		margin: 20px 0px;
		font-size: 54px;
		color: #111;
}

.divider {
		margin: 10px auto 30px auto;
		border: 0;
		height: 1px;
		width: 100%;
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.background-section {
		background-attachment: fixed;
		box-shadow: inset 0px 0px 10px black;
}

.home {
		background-image: url("https://images.unsplash.com/reserve/GtJALYqlRDiojsfBMQRa_373A1071.jpg?q=80&fm=jpg&s=a179b4c687526f0bba5f463dcbc9cd34");
}

.social-links {
		display: flex;
		justify-content: center;
		align-items: center;
}

.social-link {
		width: 150px;
		margin: 0px 20px 0px 0px;
		text-align: center;
}

.social-image {
		float: right;
		width: 20px;
		heigth: 20px;
}

@media(max-width: 600px) {
		.social-links {
				flex-flow: column;
		}
		.social-link {
				display: block;
				margin-top: 10px;
		}
}

.home-logo {
		padding: 100px;
		font-family: 'Montserrat', sans-serif;
		width: 500px;
		margin: auto;
}

@media(max-width: 520px) {
		.home-logo {
				padding: 100px 0px 100px 0px;
				font-family: 'Montserrat', sans-serif;
				width: 300px;
				margin: auto;
		}
}

.home-logo h1 {
		font-size: 70px;
		margin: 0;
		padding: 0;
}

.home-logo h2 {
		font-size: 30px;
		margin: 0;
		padding: 0;
}

.home-logo hr {
		margin: 10px;
		border: 0;
		height: 1px;
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.home-lead {
		font-size: 38px;
		padding: 10px 70px;
}

.about {
		background-image: url("https://images.unsplash.com/photo-1428263197823-ce6a8620d1e1?q=80&fm=jpg&s=cf24ca99b3eea961b1649832cdeced86");
}

.about-col {
		padding: 0px;
		margin-top: 100px;
		max-width: 1000px;
}

.portfolio {
		background-image: url("https://images.unsplash.com/38/awhCbhLqRceCdjcPQUnn_IMG_0249.jpg?q=80&fm=jpg&s=293cce57f99e5d60745e1da9da9db675");
}

.portfolio-container {
		padding: 100px 50px;
		text-align: center;
}

.portfolio-row {
		margin: 0 auto;
}

.portfolio-item {
	overflow: hidden;
		height: 240px;
		padding: 10px;
		margin: -1px;
		background-color: rgba(140, 140, 140, 0.7);
		transition: 100ms;
}

@media(max-width: 990px){
	.portfolio-item {
		height: 240px;
	}
}

.portfolio-item:hover {
		position: relative;
		transform: scale(1.03);
		box-shadow: 5px 5px 10px black;
		background-color: rgba(180, 180, 180, 1);
		z-index: 99;
}

.portfolio-img-wrapper {
	width: 100%;
	height: 150px;
	overflow: hidden;
	margin: auto;
}

@media(max-width: 500px){
	.portfolio-img-wrapper {
		height: 70px;
	}
}

.portfolio-img {
	width: 100%;
	heigth: auto;
}


.item-title {
		color: black;
		font-size: 20px;
		float: left;
}

.item-description {
		color: #111;
		clear: left;
		text-align: left;
		overflow: hidden;
}

.contact {
		background-image: url(https://subtlepatterns.com/patterns/zwartevilt.png);
		height: 90vh;
}

.contact-container {
		color: #EEE;
		padding: 150px 50px;
}

.contact-mail {
		margin: 100px 0px;
}

footer {
		height: 10vh;
}
/* Link list in footer */

.link-list {
		margin: 30px 80px;
}

.link-list li {
		float: left;
		margin-right: 10px;
}

.small-text {
		margin: 0px 80px;
		clear: left;
		font-size: 12px;
}
