body {
font-family: 'Open Sans', sans-serif;  
}

#navbar  {
  float:right;
}
/**/
.container h1{
  margin-top:150px;
}

.row{
  margin-left: auto;
  margin-right: auto;
}

.sec-home {
  text-align: center;
  background: url('https://s-media-cache-ak0.pinimg.com/originals/a0/43/bc/a043bc570949f5f039c3dec5dea65d39.jpg') center center fixed;
  background-size: cover;
  height: 900px; /*why does it need to be bigger?*/
  color: #fff;
  margin:-50px;
}

.sec-home h1 {
  text-align: center;
  color: #fff;
  font-size: 60px;
  padding-top: 100px;
  font-weight: bold;
  text-shadow: #300 4px 4px;
}

.sec-home p {
  text-align: center;
  color: #fff;
  font-size: 20px;
  padding-top: 3px;
 }

.sec-about {
  text-align: center;
  background: url('https://intothefrayradio.com/wp-content/uploads/scary-dark-forest-desktop.jpg') center center fixed;
  background-size: cover;
  height: 850px;
  color: #fff;
  margin:-50px;
}

.sec-port {
  text-align: center;
  background: url('https://cdn3.artstation.com/p/assets/images/images/000/328/663/large/erel-maatita-star-wars-eps-7-fan-art.jpg?1417431756') center center fixed;
  background-size: cover;
  height: 1050px;
  color: #fff;
  margin:-50px;
}

.sec-port h1{
  font-size: 64px;
}

.sec-contact {
  text-align: center;
  background: url('https://upload.wikimedia.org/wikipedia/en/9/9f/Shi_DeRu_and_Shi_DeYang.jpg') center center fixed;
  background-size: cover;
  height: 850px;
  color: #fff;
  margin:-50px;
}

.footer {
  height: 90px;
  background-color: #aaa;
  padding-top: 20px;
 }

.footer ul li{
  font-size: 14px;
  display: inline;
  margin: 10px 10px 10px 10px;
}

.footer p{
  font-size: 14px;
  margin: 10px 10px 10px 50px;
}

.btn:hover {
  background-color: #ff5;
  color:#aaa;
  transition: 0.5s;   
}

li:hover{
  background-color: #ddd;
}

#about p{
  text-align: left;
  padding-top:30px;
  font-size:26px;
}

#about h1{
  font-size:50px;
}

#about img{
  margin:200px;
  border-radius:50%;
}

#botoes {
  margin-top: 100px;
  }

#botoes a {
  margin-top: 10px;
  }

spam {
  color:red;
  font-weight: bold;
}

#port .col-md-4{
  /*background-color:red;*/
  border:white solid 1px;
  height:300px;
  padding:0px 20px 0px 20px;
}

#port .col-md-4:hover{
  /*background-color:red;*/
  border:gray solid 1px;
  box-shadow:black 10px 10px 10px;
  transition: 0.1s;
}

.a {
  height:80%;
  position: relative;
  z-index:1;
 }


img {
  max-width:100%;
  max-height:140%;
}

.b {
  height:20%;
  background-color:gray;
  position: relative;
  z-index:2;
  padding: 15px;
  font-size:20px;
}

